/*
 * Map css
 */
#map {
	height: 300px;
	width: 100%;
}
#map_canvas {
    width: 100%;
    height: 100%;
}
#infowindow-content .title {
	font-weight: bold;
}
#infowindow-content {
	display: none;
}
#map #infowindow-content {
	display: inline;
}
.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}
#pac-container {
	padding: 4px 12px 12px;
}
#pac-input {
	text-overflow: ellipsis;
	width: 400px;
}

/*
 * Custom CSS
 */
.h-600 {
	height: 600px !important;
}